{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>{{ todolist.name }}</h1>
        <p>
            <a href="{% url 'todo_list_update' todolist.pk %}">Edit</a>
        </p>
        <p>
            <a href="{% url 'todo_list_delete' todolist.pk %}">Delete</a>
        </p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <th>Task</th>
                <th>Due Date</th>
            </thead>
            <tbody>
                {% for item in todolist.items.all %}
                <tr>
                    <td>{{ item.task }}</td>
                    <td>{{ item.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}